body{
  padding: 50px;
  padding-top: 50px;
}

.panel{
  height: 640px;
}



.btn-xs{
  margin: 10px;
  margin-right: 3px;
}

.panel img{
  width: 430px;
}


a{
  color: black;
}

.nav-tabs li{
  width: 100px;
}

.programs-list .tab-content .tab-pane{
  height: 600px;
}
