body{
  padding: 50px;
  padding-top: 50px;
}

.panel{
  height: 600px;
}

#example1, #example2, #example3
{
display:none;
}

.btn-xs{
  margin: 10px;
  margin-right: 3px;
}

.panel img{
  width: 430px;
}
