body{
  padding: 50px;
  padding-top: 20px;
  padding-bottom: 0px;
}





.btn-xs{
  margin: 10px;
  margin-right: 3px;
}

.button{
  width:300px;
  height:60px;
  background-color:#66CCCC;
  text-align: center;
  font-size: 15px;
}

.button:hover{
  background-color: #d3d3d3;
}



a{
  color: black;
}

.programs-list .panel-body{
  height: 280px;
  overflow-y: auto;
}

.undetectable{
  color: #d3d3d3;
}

.programs-list a{
  color: #d3d3d3;
}



#all .nav-pills > li.active > a {
    background-color: #e1bfff;
      color: black;
}

#live .nav-pills > li.active > a {
    background-color: #9bf198;
      color: black;
}
#killed .nav-pills > li.active > a {
   background-color: #ff7f7f;
      color: black;
}
#covered .nav-pills > li.active > a {
    background-color: #ffb481;
      color: black;
}

.container{
  position: fixed;
inline: true,
font-size: 0px,
font-family: "Helvetica, Arial, sans-serif",
text-color: null,
lines: 1,
line: 0,
symbol: "",
margin: 0,
color: "rgb(55,123,181)",
background: "rgba(0,0,0,0.1)",
size: $obj.outerWidth(),
fill: "5px",
range: [0, 100]
}


h5{
  font-weight: bold;
}

.left-wrapper{
  text-align:center;
}

#container{
"font-size": 40px,
"font-family": "Helvetica, Arial, sans-serif",
"text-color": null,
"lines": 1,
"line": 0,
"symbol": "",
"margin": 0,
"color": "rgb(55,123,181)",
"background": "rgba(0,0,0,0.1)",
"size": $obj.outerWidth(),
"fill": "5px",
"range": [0, 100]

}

.stats{
  height: 100%;
  }

hr{
  background-color: #d3d3d3;
  width: 70%;
}
a:link{
  text-decoration: none;
}


 a:hover #live-stats{
  background-color: #9bf198;
}

a:hover #killed-stats{
  background-color: #ff7f7f;
}
a:hover #covered-stats{
  background-color: #ffb481;
}

.ui-state-highlight{
  height: 45px;
  line-height: 45px;
  background-color: #d3d3d3;
}

.runtime-stats{
  text-align: left;
  color: #d3d3d3;
  height: 150px;
  background-color: #2a2a2a;
  overflow-y:auto;

}


.progress-bar-success{
  background-color: #5EC359;
}

.testing{
  width: 500px;
  height: 500px;
}



body{
  background-color: #2a2a2a;
}


.modal-body{
  background: rgba(0,0,0, 0.8);
  color: #9bf198;
  width: 100%;
}

.modal-body button{
  color: black;
}
#container1, #container2, #container3{

  width: 200px;
  height: 200px;
  position: relative;
}



table{
  width: 80%;
}

.panel-body{
  background-color: #2a2a2a;
}

#sortable2{
  height: 250px;
  background-color: #2a2a2a;
}
#live-ratio, #killed-ratio, #covered-ratio{
  color: #d3d3d3;
  font-size: 15px;
}

#percentage{
  font-size: 40px;

}

#live-ratio #percentage{
  color: #9bf198;
}

#killed-ratio #percentage{
  color: #ff7f7f;
}

#covered-ratio #percentage{
  color: #ffb481;
}

#covered-ratio{
  margin-top: 60px;
}

.program-viewer{
  font-family: consolas;
  font-size: 12px;
  color: #d3d3d3;
  height: 625px;
  background-color: #2a2a2a;
  width: 100%;
  overflow-y:auto;
}

.left-wrapper .panel{
  border-color: #d3d3d3;
}


#green{
  background-color: #9bf198;
  color: black;
}

#red{
  background-color: #ff7f7f;
  color: black;
}

a{
  color: black;
}



/*
.circle{
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: yellow;
}*/

/*
.live-circle{
  height: 200px;
  width: 200px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #9bf198;
}

.killed-circle{
  height: 200px;
  width: 200px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #ff7f7f;
}

.covered-circle{
  height: 200px;
  width: 200px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #ffb481;
}

a:hover .live-circle, a:hover .killed-circle, a:hover .covered-circle{
  background-color: #2a2a2a;
  border-color: red;
}
*/
